<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geekymusketeers.medify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medify"
        tools:targetApi="31">
        <activity
            android:name=".auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".prescription.AddPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".mainFragments.DoctorPatient"
            android:exported="true" />
        <activity
            android:name=".appointment.BookingDoneActivity"
            android:exported="true" />
        <activity
            android:name=".mainFragments.UPImanager"
            android:exported="true" />
        <activity
            android:name=".introduction.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appointment.AppointmentBooking"
            android:exported="true" />
        <activity
            android:name=".auth.SignUp_First"
            android:exported="true" />
        <activity
            android:name=".auth.SignIn_Activity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".auth.SignUp_Activity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>